<div ngClass="container">
    <div class="border-contenedor">
        <div ngClass="container-formulario">
            <h1>Formulario</h1>
            <form (ngSubmit)="enviar()" [formGroup]="formulario" action="">
                <div ngClass="groupInput">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" formControlName="nombre">
                    <span ngClass="error">Nombre Requerido</span>
                </div>
                <div ngClass="groupInput">
                    <label for="valor">Valor</label>
                    <input type="text" name="valor" id="valor" formControlName="valor">
                    <span *ngIf="formulario.get('valor')?.errors?.['required']" ngClass="error">Valor Requerido</span>
                    <span *ngIf="formulario.get('valor')?.errors?.['pattern']" ngClass="error">Valor Requerido</span>
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{nombre.value}} <br>
{{formulario.get("valor")?.pristine}} <br>
{{formulario.get("valor")?.valid}} <br>
{{formulario.get("valor")?.invalid}}